In [3]:
import os

# 루트 경로 설정 (예: 프로젝트 루트 경로)
project_root = "C:\sb-fsts\sb-fsts"
os.chdir(project_root)  # 루트 경로로 변경

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_24680\802128495.py:4: SyntaxWarning: invalid escape sequence '\s'
  project_root = "C:\sb-fsts\sb-fsts"

In [4]:
from app.utils.crud_sql import SQLExecutor
from app.utils.database import get_db, get_db_session

sql_executor = SQLExecutor()

In [5]:
query = """
        SELECT 
            *
        FROM 
            fsts.test_table
    """

params = {}

with get_db_session() as db:
    result = sql_executor.execute_select(db, query, params)

print(result)

[{'id': 'id1', 'name': 'name1'}, {'id': 'id2', 'name': 'name2'}]

In [8]:
# RETURNING * 꼭 붙여야 함.
query = """
    INSERT INTO fsts.test_table
    (id, name)
    VALUES (:id, :name)
    RETURNING *;
"""

id = 'id4'
name = 'name4'

params = {
    "id": id,
    "name": name
}

with get_db_session() as db:
    result = sql_executor.execute_insert(db, query, params)

Insert succeeded: [{'id': '(id4,id5)', 'name': '(name4,name5)'}]

In [9]:
#여러 데이터를 한번에 삽입하고 싶을 때
# 여러 데이터 정의
data = [
    {"id": "id5", "name": "name5"},
    {"id": "id6", "name": "name6"},
    {"id": "id7", "name": "name7"}
]

# 다중 데이터 삽입 쿼리
query = """
    INSERT INTO fsts.test_table
    (id, name)
    VALUES (:id, :name)
    RETURNING *;
"""

# 데이터 삽입 및 결과 저장
results = []
with get_db_session() as db:
    for row in data:
        result = sql_executor.execute_insert(db, query, row)
        results.append(result)

print("삽입된 데이터:")
print(results)

Insert succeeded: [{'id': 'id5', 'name': 'name5'}]
Insert succeeded: [{'id': 'id6', 'name': 'name6'}]
Insert succeeded: [{'id': 'id7', 'name': 'name7'}]
삽입된 데이터:
[[{'id': 'id5', 'name': 'name5'}], [{'id': 'id6', 'name': 'name6'}], [{'id': 'id7', 'name': 'name7'}]]

In [11]:
# UPDATE 테스트
query_update = """
    UPDATE fsts.test_table
    SET name = :name
    WHERE id = :id
    RETURNING *;
"""
#:는 파라미터 바인딩 형식

params_update = {
    "id": "id2",
    "name": "HONG"
}

with get_db_session() as db:
    result_update = sql_executor.execute_update(db, query_update, params_update)

Update succeeded: [{'id': 'id2', 'name': 'HONG'}]
Updated Record: [{'id': 'id2', 'name': 'HONG'}]

In [19]:
# UPSERT 테스트
query_upsert = """
    INSERT INTO fsts.test_table (id, name)
    VALUES (:id, :name)
    ON CONFLICT (id)
    DO UPDATE SET name = :name
    RETURNING *;
"""

params_upsert = {
    "id": "id4",
    "name": "upserted_name4"
}

with get_db_session() as db:
    result_upsert = sql_executor.execute_upsert(db, query_upsert, params_upsert)

Upsert succeeded: [{'id': 'id4', 'name': 'upserted_name4'}]

In [12]:
# DELETE 테스트
query_delete = """
    DELETE FROM fsts.test_table
    WHERE id = :id
    RETURNING *;
"""

params_delete = {
    "id": "(id4,id5)"
}

with get_db_session() as db:
        result_delete = sql_executor.execute_delete(db, query_delete, params_delete)

Delete succeeded: [{'id': '(id4,id5)', 'name': '(name4,name5)'}]